<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Space AI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>

<body class="bg-info">
    <div class="container mt-5">
        <div class="text-center text-white bg-dark py-1">
            <h1 class="text-center">Parking Space AI</h1>
        </div>
        <table class="table table-dark text-center table-bordered w-100 mx-auto mt-1">
            <tbody id="parking-status">
                <tr></tr>
            </tbody>
        </table>
        <div class="text-center text-white bg-dark py-1">
            <h1 id="total-free-spaces">Total Available Parking: 0</h1>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/main.js"></script>
</body>

</html>
